body {
    margin: 0;
    padding: 0;
  }
  

.topbar-container {
    height: 50px;
    width: 100%;
    background-color: #720e0e;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
}

.topbar-right, .topbar-left, .topbar-center {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-text {
    font-family: sans-serif;
    font-size: 28px;
    margin-left: 30px;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
    color: #f0e8da;
}

.home-button, .new-game-button {
    display: flex;
    align-items: center;
    background: none;
    border:none;
    cursor: pointer;
    color:#f1e5ce;
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
    margin-right :30px;
    transition: all 800ms ease;
    text-decoration: none;
}

.logout-button {
    display: flex;
    align-items: center;
    background: none;
    border:none;
    cursor: pointer;
    color:#f1e5ce;
    font-size: 17px;
    font-family: sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
    margin-right :6px;
    transition: all 800ms ease;
    text-decoration: none;
}

.home-button:hover, .new-game-button:hover, .logout-button:hover {
    background-color: #630000;
}

.icon {
    transform: scale(1.1);
    margin-right: 8px;
}

@media only screen and (max-width: 768px) {
    .topbar-container {
        flex-wrap: wrap;
    }
    .logo-text {
        font-family: sans-serif;
        font-size: 15px;
        margin-left: 5px;
        font-weight: bold;
        cursor: pointer;
        vertical-align: middle;
        color: #f0e8da;
    }

    .icon {
        transform: scale(0.6);
        margin-right: 1px;
    }

    .logout-button {
        text-wrap: nowrap;
        font-size: 15px;
        padding-left: 1px;
        padding-right: 1px;
        margin-right :6px;
    }

    .home-button, .new-game-button  {
        text-wrap: nowrap;
        font-size: 15px;
        padding-left: 1px;
        padding-right: 1px;
        margin-right :6px;
    }
}