.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #1d000083;
}

.content {
    display: flex;
    flex-direction: column;
    background: #f1ecdf;
    padding: 4%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #1b01013b;
    border-radius: 10px;
}

.stats-container {
    display: flex;
    justify-content: center;
}

.player-info {
    flex: 1;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 5px #1b01013b;
    background-color: #f1eee5;
    border-radius: 8px;
    width: 280px;
}

.close-button {
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgba(177, 5, 5, 0);
    color: #000000;
    border: none;
    cursor: pointer;
    transition: all 600ms ease;
    box-shadow: 0 0 5px #1b01013b;

}

.close-button:hover {
    background-color: #f3d8ba;
}

.popup-header {
    margin-bottom: -1%;
    font-size: 35px;
}

@media only screen and (max-width: 768px) {
    .content {
        background-color: #f1ecdf;
        padding: 0px;
        border-radius: 0%;
    }

    .player-info {
        background-color: #eeebe2;
        width: 40%;
        margin: 0px;
        border-radius: 0%;
    }
}